[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
scikit-metrics = "*"
transformers = "*"
torch = "*"
openai = "*"
tqdm = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
